body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*BootStrap Override*/


.navbar-inverse {
    background-color: #ff9900;
    border-color: #ff9900;
}

.navbar-brand {
   
    font-size: 21px;
    font-weight: bold;
   

}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ff7600;
    text-decoration: none;
    background-color:#ffffff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #ff8f1b;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

.body {
    
    font-size: 15px;
 
}
.form-control {

    font-size:16px;
    adding: 20px 15px;
    -ms-border-radius:10px;
    border-radius:10px;

}
.btn {
    border-radius:9px;
    padding:7px 15px;
    font-size:16px;
}

.form-control:focus {
    border-color: #e9b566;
    outline: 0;
     -webkit-box-shadow: none; 
     box-shadow: none; 
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato,"Helvetica Neue", Helvetica, Arial, sans-serif;

}

.divider {
 
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eeeeee;
}\
}